{% extends "base.html" %}

{% block title %}
Animation
{% endblock %}

{% block content %}
<h1>Zooland — главная страница</h1>
{% if request.user.is_superuser %}
<p><b>Животные: </b></p>
<table>
    <tr>
        <th>Вид</th>
        <th>Возраст, лет</th>
        <th>Пол</th>
        <th>Дата поступления</th>
    </tr>
    {% for animal in animals %}
    <tr>
        <td>{{animal.kind}}</td>
        <td>{% if animal.arrival_date %}
            {{ animal.arrival_date }}
            {% else %}
            -
            {% endif %}</td>
        <td>{% if animal.gender == 'M' %}Мужской{% else %}Женский{% endif %}</td>
        <td>{{animal.arrival_date}}</td>
    </tr>
    {% endfor %}
</table>

<br><br>
<p><b>Зоны и комлпексы: </b></p>
<table>
    <tr>
        <th>Зона</th>
        <th>Номер</th>
        <th>Резервуар</th>
        <th>Отопление</th>
        <th>Комплекс</th>
    </tr>
    {% for placement in placements %}
    <tr>
        <td>{{placement.name}}</td>
        <td>{{placement.number}}</td>
        <td>{% if placement.reservoir %} Есть {% else %} Нет {% endif %}</td>
        <td>{% if placement.heating %} Есть {% else %} Нет {% endif %}</td>
        <td>{{placement.complex_area.complex_name}}</td>
    </tr>
    {% endfor %}
    <tr>
        <td>Всего зон:</td>
        <td colspan="3">{{placements.count}}</td>
        <td></td>

    </tr>
</table>
{% else %}
{% if request.user.is_authenticated %}
<p><b>ФИО:</b> {{request.user.employee.lastname}} {{request.user.employee.firstname}} {{employee.patronymic}} </p>
<p><b>Должность:</b> {{request.user.employee.job.job_title}}</p>
<p><b>Номер телефона:</b> {{request.user.employee.phone}}</p>
<p><b>Пол:</b> {{request.user.employee.gender}}</p>
{% if request.user.employee.animals.all %}
<p><b>Работает со следующими животными: </b></p>
<table>
    <tr>
        <th>Вид</th>
        <th>Возраст, лет</th>
        <th>Пол</th>
        <th>Дата поступления</th>
        <th>Зона</th>
        <th>Номер зоны</th>
        <th>Комплекс</th>
    </tr>
    {% for animal in request.user.employee.animals.all %}
    <tr>
        <td>{{animal.kind.kind}}</td>
        <td>{% if animal.age %}{{animal.age}}{% else %}—{% endif %}</td>
        <td>{% if animal.gender == 'M' %}Мужской{% else %}Женский{% endif %}</td>
        <td>{% if animal.arrival_date %}
            {{ animal.arrival_date }}
            {% else %}
            -
            {% endif %}</td>
        <td>{{animal.placement.name}}</td>
        <td>{{animal.placement.number}}</td>
        <td>{{animal.placement.complex_area.complex_name}}</td>
    </tr>
    {% endfor %}
</table>

<br><br>
<p><b>Питание:</b></p>
<table>
    <tr>
        <th>Вид</th>
        <th>Чем кормить</th>
    </tr>
    {% for animal in request.user.employee.animals.all %}
    <tr>
        <td>{{animal.kind.kind}}</td>
        <td>
            <ul>
                {% for food in animal.food.all %}
                <li>{{food.food}}</li>
                {% endfor %}
            </ul>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endif %}
<h2>Животные зоопарка: </h2>
<p><b>Всего видов:</b> {{animals.count}}</p>
<br>
<table>
    <tr>
        <th>Вид (Класс)</th>
        <th>Возраст, лет</th>
        <th>Страна</th>
        <th>Описание</th>
        <th>Подробнее</th>
    </tr>
    {% for animal in animals %}
    <tr>
        <td>{{animal.kind}}</td>
        <td>{% if animal.age %}
            {{animal.age}}
            {% if animal.age == 1 %}
            год
            {% elif animal.age > 4 %}
            лет
            {% else %}
            года
            {% endif %}
            {% else %}
            -
            {% endif %}</td>
        <td>{{animal.country.country}}</td>
        <td>{{animal.description}}</td>
        <td><a href="{% url 'animal_detail' animal.id %}">Link</a></td>
    </tr>
    {% endfor %}
</table>
{% endif %}
<h2>Last news</h2>
<hr>
<article class="last-post">
    <h3>
        {{last_post.title}} <span class="post-time">{{last_post.created_at}}</span>
    </h3>
    <div class="content">
        {% if last_post.img %}
        <img width="200px" src="/media/{{ last_post.img }}">
        {% endif %}
        <p>
            {{last_post.content|truncatewords:7}}
            <br>
            <a href="{% url 'post_detail' last_post.pk%}">Читать далее...</a>
        </p>
    </div>
</article>
<hr>
{% include "includes/advertise.html" %}
{% endblock %}

{% block extra_content %}
<style>
    #tree_left,
    #tree_right {
        top: 200px;
        width: 80%;
        height: auto;
    }

    .test {
        width: 100vw;
        height: 130vh;
    }


    #top {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #top::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 200px;
        width: 100%;
        background: linear-gradient(to top, #fff, transparent);
        z-index: 1000;
    }

    #man {
        top: inherit;
        bottom: 0;
        width: auto;
    }

    section img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
    }

    #text {
        position: relative;
        color: white;
        font-size: 10rem;
    }
</style>
<div class="test">
    <section id="top">
        <img src="/static/zoo/img/anim-bg.jpeg" id="bg" />
        <h2 id="text">Zoopark</h2>
        <img src="/static/zoo/img/family.png" id="man" />
        <img src="/static/zoo/img/tree.png" id="tree_left" />
        <img src="/static/zoo/img/tree.png" id="tree_right" />
    </section>

</div>
{% endblock %}

{% block scripts %}
<script>

    const treeLeft = document.querySelector('#tree_left');
    const treeRight = document.querySelector('#tree_right');
    const cloud1 = document.querySelector('#clouds_1');
    const cloud2 = document.querySelector('#clouds_2');
    const text = document.querySelector('#text');
    const man = document.querySelector('#man');


    window.addEventListener("load", () => {
        let value = scrollY;
        treeLeft.style.left = `calc(-${+value / 0.7}px - 30%)`
        treeRight.style.left = `calc(50% + ${value / 0.7}px)`
        text.style.bottom = `-${value}px`;
        man.style.height = `${window.innerHeight - value / 0.7}px`
        man.style.left = `calc(50% - ${man.getBoundingClientRect().width / 2}px)`
        man.style.top = `calc(100% + ${value - man.getBoundingClientRect().height}px)`
    })
    window.addEventListener('scroll', () => {
        let value = scrollY;
        treeLeft.style.left = `calc(-${+value / 0.7}px - 30%)`
        treeRight.style.left = `calc(50% + ${value / 0.7}px)`
        text.style.bottom = `-${value}px`;
        man.style.height = `${window.innerHeight - value / 0.7}px`
        man.style.left = `calc(50% - ${man.getBoundingClientRect().width / 2}px)`
        man.style.top = `calc(100% + ${value - man.getBoundingClientRect().height}px)`
    })
</script>
{% endblock %}